<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>OA</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <link href="//unpkg.com/layui@2.9.8/dist/css/layui.css" rel="stylesheet">
</head>
<body>
<form class="layui-form" action="form.html" lay-filter="demo-val-filter">
    <fieldset class="layui-elem-field">
        <legend>基础资料</legend>
        <div class="layui-field-box">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">Number</label>
                    <div class="layui-input-inline">
                        <input type="text" name="id" lay-verify="title" autocomplete="off" readonly
                               class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <input type="text" name="state" lay-verify="title" autocomplete="off" readonly
                               class="layui-input">
                    </div>
                </div>
            </div>
                        <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">身份</label>
                    <div class="layui-input-inline">
                        <input type="text" name="user-type" lay-verify="title" autocomplete="off" readonly
                               class="layui-input">
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>个人资料</legend>
        <div class="layui-field-box">

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" lay-verify="title" autocomplete="off" placeholder="请输入"
                               class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">Email</label>
                    <div class="layui-input-inline">
                        <input type="text" name="email" lay-verify="title" autocomplete="off" placeholder="请输入"
                               class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">Email为登录账号，修改后请牢记，否则可能导致无法登录。</div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit lay-filter="demo-val">修改</button>
                    <button type="button" onclick="window.history.back ();" class="layui-btn layui-btn-primary">取消
                    </button>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<form class="layui-form" action="form.html" lay-filter="pwd-val-filter">
    <fieldset class="layui-elem-field">
        <legend>修改密码</legend>
        <div class="layui-field-box">
            <div class="layui-form-item">
                <label class="layui-form-label">旧密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="opwd" lay-verify="title" autocomplete="off" placeholder="请输入"
                           class="layui-input" lay-affix="eye">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="npwd" lay-verify="title" autocomplete="off" placeholder="请输入"
                           class="layui-input" lay-affix="eye">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="rpwd" lay-verify="title" autocomplete="off" placeholder="请输入"
                           class="layui-input" lay-affix="eye">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">验证码</label>
                <div class="layui-input-inline">
                    <input type="text" name="vercode" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid" style="padding: 0!important;">
                    <button type="button" id="verifyBtn" class="layui-btn layui-btn-primary" lay-on="get-vercode">
                        获取验证码
                    </button>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit lay-filter="pwd-val">修改</button>
                    <button type="button" onclick="window.history.back ();" class="layui-btn layui-btn-primary">取消
                    </button>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<fieldset class="layui-elem-field">
    <legend>头像修改</legend>
    <div class="layui-field-box">
        <div class="layui-upload">
            <div class="layui-upload-list">
                <img class="layui-upload-img" style="width: 92px;
  height: 92px;" id="demo1">
                <p id="demoText"></p>
            </div>
            <button type="button" class="layui-btn" id="test1">上传头像</button>
        </div>
    </div>
</fieldset>


<script src="//unpkg.com/layui@2.9.8/dist/layui.js"></script>
<script>
    layui.use(['upload',  'util', 'element', 'layer'], function () {
        var $ = layui.jquery
            , upload = layui.upload
            , util = layui.util
            , layer = layui.layer;
        var form = layui.form;
        form.val('demo-val-filter', {
            "id": ('0000' + '{{ data.id }}').slice(-4)
            , "username": '{{ data.username }}'
            , "email": '{{ data.email }}'
            , "user-type": '{{ data.type }}'
            , "state": '{{ data.state }}'
        });
        // 表单取值
        layui.$('#LAY-component-form-getval').on('click', function () {
            var data = form.val('demo-val-filter');
            alert(JSON.stringify(data));
        });
        // 提交事件
        form.on('submit(demo-val)', function (data) {
            var field = data.field; // 获取表单字段值
            // 显示填写结果，仅作演示用
            $.ajax({
                url: '/change_profile_data', method: 'post', data: field, success: function (data) {
                    if (200 === data.code || '200' === data.code) {
                        layer.msg(data.msg)
                    }
                    else {
                        layer.msg(data.msg)
                    }
                }
            })
            return false; // 阻止默认 form 跳转
        });

        form.on('submit(pwd-val)', function (data) {
            var field = data.field; // 获取表单字段值
            // 显示填写结果，仅作演示用
            $.ajax({
                url: '/change_pwd_data', method: 'post', data: field, success: function (data) {
                    if (200 === data.code || '200' === data.code) {
                        layer.msg(data.msg)
                    }
                    else{
                        layer.msg(data.msg)
                    }
                }
            })
            return false; // 阻止默认 form 跳转
        });
        //常规使用 - 普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            , url: '/upload_icon' //此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
                layer.msg('上传中', {icon: 16, time: 0});
            }
            , done: function (res) {
                //如果上传失败
                if (res.code < 0) {
                    return layer.msg('上传失败');
                }
                layer.msg('上传完毕', {icon: 1});
                parent.location.reload()
            }
        });
        // 普通事件
  util.on('lay-on', {
    // 获取验证码
    "get-vercode": function(othis){
                    $.ajax({
                url: '/send_vercode', method: 'post', success: function (data) {
                    if (200 === data.code || '200' === data.code) {
                        layer.msg('验证码已发送，请注意查收！')
                    }
                    else{
                        layer.msg(data.msg+'，验证码发送失败，请稍后再试！')
                    }
                }
            })
            var button = document.getElementById('verifyBtn');
    var originalText = button.textContent; // 保存按钮原始文本
    button.disabled = true; // 禁用按钮

    // 倒计时逻辑
    for (var i = 60; i >= 1; i--) {
        (function(count) {
            setTimeout(function() {
                button.textContent = count + ' 秒后重新发送';
                if (count === 1) {
                    button.textContent = originalText; // 恢复按钮文本
                    button.disabled = false; // 恢复按钮可用状态
                }
            }, 1000 * (61 - count)); // 每一秒递减
        })(i);
    }


    }
  });



    });
</script>
</body>
</html>